@charset "UTF-8";
#wrap {

  #container {

    /* TOP10 */
    .ahnTopContent {


    }

    /* 메인배너 관리 */
    .ahnMainBanner {

      .bannerArea {
        margin-top: 34px;

        .bannerTitle {
          box-sizing: border-box;
          height: 71px;
          line-height: 71px;
          padding: 0 18px;
          border-top: 1px solid #777;
          font-size: 20px;
          @include nsM;
          color: #B6B6B6;
        }

        .tableArea02 {
          margin-top: 0;
        }

        .imagesArea {
          overflow: hidden;

          .webImage, .mobileImage {

            .title {
              color: #fff;
            }

            .image {
              margin-top: 15px;
              height: 280px;
              border: 1px solid #464646;
              background-color: #1F1F1F;

              img {
                display: block;
                width: 100%;
                height: 100%;
              }
            }

            .imageSize {
              line-height: 26px;
              margin-top: 16px;
            }

            .imageFunction {
              margin-top: 24px;
            }
          }

          .webImage {
            float: left;
            width: 674px;
          }

          .mobileImage {
            float: left;
            width: 259px;
            margin-left: 30px;
          }
        }
      }
    }

    /* 안철수는 */
    .ahncheolsooContent {

      .vidoeSubmit {
        padding-left: 160px;
      }
    }

    /* 안철수의 약속 */
    .ahnPromiseContent {

    }

    /* 안철수의 오늘 */
    .ahnTodayContent {


    }

    /* 영상 */
    .ahnVideoContent {

      .categoryWrap {
        margin: 20px 0 80px;
        border: 1px solid #707070;

        .categoryAdd {
          padding: 37px 36px 37px 37px;

          .categoryInput {
            overflow: hidden;

            > * {
              float: left;
            }

            .title {
              display: block;
              line-height: 53px;
              margin-right: 24px;
              font-size: 17px;
              @include nsB;
            }
            .formType01 {
              float: left;

              .ahnBtnM {
                border-color: #fff;
              }
            }
          }

          .categoryArea {
            margin: 35px 0 0 1px;

            &::after {
              content: "";
              display: block;
              clear: both;
            }

            .categoryBtn {
              float: left;
              display: flex;
              box-sizing: border-box;
              width: 225px;
              height: 46px;
              margin: 10px 0 0 -1px;
              border: 1px solid #585858;

              .input {
                flex: 1;
                box-sizing: border-box;
                padding: 6px 6px;

                input {
                  box-sizing: border-box;
                  width: 100%;
                  height: 100%;
                  padding: 0 5px;
                  border: 1px solid #585858;
                  outline: 0 none;
                  @include nsB;
                  font-size: 14px;
                  color: #fff;
                  background-color: #262626;

                  &:read-only {
                    border-color: #000;
                    background-color: #000;
                  }
                }
              }

              .btnBox {
                float: left;
                width: 33px;
                height: 100%;
                border-left: 1px solid #585858;

                button {
                  display: block;
                  width: 100%;
                  height: 22px;
                  font-size: 12px;
                  color: #fff;
                  @include nsB;

                  & + button {
                    border-top: 1px solid #585858;
                  }

                  &:hover {
                    background-color: $colorOrange;
                  }
                }
              }
            }
          }
        }

        .buttonArea {
          margin-top: 0;
          padding: 18px 0;
          border-top: 1px solid #707070;
        }
      }
    }

    /* 라이브 보기 */
    .ahnLiveContent {


    }

    /* 커뮤니티 */
    .ahnCommunityContent {

    }

    /* popup */
    .ahnPopupContent {

      .popupFunction {
        margin-left: 160px;
      }
    }
  }
}

