@charset "UTF-8";
#wrap {

  #container {

    /* TOP10 */
    .ahnTopContent {


    }

    /* 메인배너 관리 */
    .ahnMainBanner {

      .bannerArea {
        margin-top: 34px;

        .bannerTitle {
          box-sizing: border-box;
          height: 71px;
          line-height: 71px;
          padding: 0 18px;
          border-top: 1px solid #777;
          font-size: 20px;
          @include nsM;
          color: #B6B6B6;
        }

        .tableArea02 {
          margin-top: 0;
        }

        .imagesArea {
          overflow: hidden;

          .webImage, .mobileImage {

            .title {
              color: #fff;
            }

            .image {
              margin-top: 15px;
              height: 280px;
              border: 1px solid #464646;
              background-color: #1F1F1F;

              img {
                display: block;
                width: 100%;
                height: 100%;
              }
            }

            .imageSize {
              line-height: 26px;
              margin-top: 16px;
            }

            .imageFunction {
              margin-top: 24px;
            }
          }

          .webImage {
            float: left;
            width: 674px;
          }

          .mobileImage {
            float: left;
            width: 259px;
            margin-left: 30px;
          }
        }
      }
    }

    /* 안철수는 */
    .ahncheolsooContent {

      .vidoeSubmit {
        padding-left: 160px;
      }
    }

    /* 안철수의 약속 */
    .ahnPromiseContent {

    }

    /* 안철수의 오늘 */
    .ahnTodayContent {


    }

    /* 영상 */
    .ahnVideoContent {


    }

    /* 라이브 보기 */
    .ahnLiveContent {


    }

    /* 커뮤니티 */
    .ahnCommunityContent {

      .pagingArea {
        margin-top: 68px;
      }
    }
  }
}

