@charset "UTF-8";

/* layout */
html, body {
  @include nsR;
  height: 100%;
  font-size: 22px;
  letter-spacing: -0.075em;
  color: #fff;
}

/* wrap */
#wrap {
  display: flex;
  min-width: 1630px;
  min-height: 100%;
  background-color: #000;

  /* lnb */
  #lnb {
    box-sizing: border-box;
    width: 290px;
    padding: 60px 0;
    border: 1px solid #707070;

    .login {
      padding: 0 0 0 53px;

      a {
        display: inline-block;
        vertical-align: top;

        span {
          display: block;
          box-sizing: border-box;
          height: 38px;
          line-height: 26px;
          padding: 9px 0 0 47px;
          font-size: 18px;
          @include nsM;
          color: #fff;
          @include imageUrlAdmin(icon/icon_login,png);
          background-position: left center;
        }
      }
    }

    .visitorArea {
      margin-top: 30px;
      padding: 0 76px 0 56px;

      .visitorTotal {
        overflow: hidden;

        .title {
          float: left;
          display: block;
          line-height: 19px;
          font-size: 13px;
          @include nsM;
          color: #9F9F9F;
        }

        .number {
          float: right;
          display: block;
          line-height: 19px;
          padding-right: 1px;
          font-size: 12px;
          @include gtM;
          @include colorOrange;
        }
      }

      .visitorToday {
        overflow: hidden;
        margin-top: 3px;

        .title {
          float: left;
          display: block;
          line-height: 19px;
          font-size: 13px;
          @include nsM;
          color: #9F9F9F;
        }

        .number {
          float: right;
          display: block;
          line-height: 19px;
          padding-right: 1px;
          font-size: 12px;
          @include gtM;
        }
      }
    }

    .logoText {
      margin-top: 20px;
      padding-left: 50px;

      a {
        display: inline-block;
        vertical-align: top;
        line-height: 49px;
        font-size: 40px;
        @include nsB;
        @include colorOrange;
        letter-spacing: -0.08em;
      }
    }

    nav {
      margin-top: 40px;

      .menuList {

        > li {
          border-top: 1px solid #707070;

          > a {
            display: block;
            padding-left: 53px;

            span {
              display: inline-block;
              vertical-align: top;
              line-height: 50px;
              font-size: 22px;
              @include nsB;
              color: #fff;
            }

            &:hover {

              span {
                color: #8C8D8D;
              }
            }
          }

          .menuListSub {
            padding: 11px 0;
            border-top: 1px solid #707070;

            li {

              a {
                display: block;
                padding-left: 53px;

                span {
                  display: inline-block;
                  vertical-align: top;
                  line-height: 34px;
                  font-size: 14px;
                  @include nsB;
                  color: #fff;
                }

                &:hover {

                  span {
                    color: #8C8D8D;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* container */
  #container {
    width: 1200px;
    padding: 70px 70px 100px;

    .topContent {

      .mainTitle {
        padding-bottom: 41px;
        font-size: 28px;
        @include nsM;
      }
    }

    .content {

      .contentTitle {
        overflow: hidden;

        .alignLeft {
          float: left;
        }

        .alignRight {
          float: right;
        }

        .title {
          display: inline-block;
          vertical-align: top;
          line-height: 49px;
          padding-top: 9px;
          margin-right: 24px;
          font-size: 34px;
          @include nsB;
        }

        .subText {
          display: inline-block;
          vertical-align: top;
          line-height: 36px;
          padding-top: 22px;
          font-size: 25px;
          @include nsM;
        }
      }

      .contentSubTitle {
        overflow: hidden;
        margin-top: 100px;
        border-bottom: 1px solid #D8D8D8;

        .alignLeft {
          float: left;
        }

        .alignRight {
          float: right;
        }

        .title {
          display: inline-block;
          vertical-align: top;
          line-height: 29px;
          padding: 18px 0;
          font-size: 20px;
          @include nsM;
        }

        .totalNumber {
          display: inline-block;
          vertical-align: top;
          line-height: 29px;
          padding: 18px 0;
          font-size: 18px;
          @include nsM;
        }
      }
    }
  }

  /* color */
  .colorOrange {
    @include colorOrange;
  }
  .colorRed {
    @include colorRed;
  }

  /* selectbox */
  .anSelect {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 53px;

    &:after {
      content: "";
      position: absolute;
      right: 16px;
      top: 50%;
      display: block;
      width: 22px;
      height: 13px;
      margin-top: -6px;
      @include imageUrlAdmin("icon/icon_select");
    }

    select {
      display: block;
      box-sizing: border-box;
      height: 100%;
      padding: 0 50px 0 29px;
      border: 1px solid #7F8080;
      outline: 0 none;
      color: #fff;
      font-size: 18px;
      @include nsM;
      background-color: #000;

      border-radius:0; /* 아이폰 사파리 보더 없애기 */
      -webkit-appearance:none; /* 화살표 없애기 for chrome*/
      -moz-appearance:none; /* 화살표 없애기 for firefox*/
      appearance:none /* 화살표 없애기 공통*/
    }
  }

  /* input text */
  .anInputText {
    display: inline-block;
    vertical-align: top;
    height: 53px;

    input {
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 0 29px;
      border: 1px solid #7F8080;
      font-size: 18px;
      @include nsM;
      color: #fff;
      background-color: #000;
    }
  }

  .anInputTextSmall {
    display: inline-block;
    vertical-align: top;
    width: 54px;
    height: 34px;

    input {
      display: block;
      text-align: center;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      border: 1px solid #707070;
      font-size: 18px;
      @include gtM;
      color: #fff;
      background-color: #3E3E3E;
    }
  }

  /* input file */
  .fileSearch {
    display: inline-flex;
    vertical-align: top;
    width: 700px;
    height: 53px;

    .uploadName {
      flex: 1;
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding: 0 29px;
      border: 1px solid #7F8080;
      outline: 0 none;
      font-size: 18px;
      @include nsM;
      color: #fff;
      background-color: #000;
    }

    label {
      display: inline-block;
      text-align: center;
      vertical-align: top;
      box-sizing: border-box;
      width: 120px;
      height: 53px;
      margin-left: 13px;
      border: 1px solid #EA5504;
      background-color: #141414;

      span {
        display: inline-block;
        vertical-align: top;
        height: 51px;
        line-height: 51px;
        font-size: 18px;
        font-family: "NotoSansCJKkrMedium", sans-serif;
        color: #fff;
      }
    }

    input[type="file"] {
     @include blind;
    }
  }

  /* input checkbox */
  .anInputCheck {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;

    input {
      @include blind;

      &:checked {

        & + .text {
          @include imageUrlAdmin("icon/icon_checkOn");
          background-position: left 8px;

          &.none {
            background-position: left 0;
          }
        }
      }
    }

    .text {
      position: relative;
      display: block;
      min-height: 40px;
      line-height: 40px;
      padding-left: 33px;
      font-size: 28px;
      @include nsM;
      color: #B3B3B3;
      @include imageUrlAdmin("icon/icon_check");
      background-position: left 8px;

      &.none {
        width: 23px;
        height: 23px;
        min-height: auto;
        padding: 0;
        background-position: left 0;
      }
    }
  }

  /* input radio tab */
  .radioTab {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #585858;

    .anInputRadio {
      float: left;
      display: block;
      cursor: pointer;

      & + .anInputRadio {
        border-left: 1px solid #585858;
      }

      input {
        @include blind;

        &:checked {

          & + .text {
            background-color: $colorOrange;
          }
        }
      }

      .text {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        height: 52px;
        line-height: 52px;
        padding: 0 25px;
        font-size: 19px;
        @include nsB;
        color: #fff;
        background-color: #000;
      }
    }
  }

  /* textarea */
  .anTextarea {
    box-sizing: border-box;
    height: 400px;
    padding: 23px 34px;
    border: 1px solid #3B3C3C;
    background-color: #0A0A0A;

    textarea {
      display: block;
      width: 100%;
      height: 100%;
      border: 0 none;
      outline: 0 none;
      padding: 0;
      font-size: 14px;
      color: #fff;
      resize: none;
      background-color: transparent;
    }
  }

  /* button */
  .anBtnS {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    width: 100px;
    height: 44px;
    border: 1px solid #606060;
    background-color: #141414;

    span {
      display: inline-block;
      vertical-align: top;
      height: 42px;
      line-height: 42px;
      font-size: 18px;
      @include nsM;
      color: #fff;
    }
  }

  .anBtnM {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    width: 120px;
    height: 53px;
    border: 1px solid $colorOrange;
    background-color: #141414;

    span {
      display: inline-block;
      vertical-align: top;
      height: 51px;
      line-height: 51px;
      font-size: 18px;
      @include nsM;
      color: #fff;
    }

    &.solid {
      background-color: #EA5504;
    }
  }

  .anBtnL {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    box-sizing: border-box;
    width: 200px;
    height: 58px;
    border: 1px solid $colorOrange;
    background-color: $colorOrange;

    &.line {
      border: 1px solid #fff;
    }

    span {
      display: inline-block;
      vertical-align: top;
      height: 56px;
      line-height: 56px;
      font-size: 20px;
      @include nsB;
      color: #fff;
    }
  }

  .anBtnMore {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0 5px 13px 5px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      boottom: 0;
      display: block;
      height: 3px;
      background-color: #fff;
    }

    span {
      display: block;
      height: 45px;
      line-height: 45px;
      font-size: 31px;
      @include nsB;
      color: #fff;
    }
  }

  .anBtnModify,
  .anBtnDelete,
  .anBtnRegister {
    display: inline-block;
    vertical-align: top;
    width: 90px;
    height: 90px;
    background-color: $colorOrange;

    span {
      display: inline-block;
      vertical-align: top;
      line-height: 25px;
      padding-top: 45px;
      font-size: 17px;
      @include nsM;
      color: #fff;
    }
  }

  .anBtnModify {

    span {
      @include imageUrlAdmin(icon/icon_modify,png);
      background-position: center top;
    }
  }

  .anBtnDelete {

    span {
      @include imageUrlAdmin(icon/icon_delete,png);
      background-position: center top;
    }
  }

  .anBtnRegister {

    span {
      @include imageUrlAdmin(icon/icon_register,png);
      background-position: center top;
    }
  }

  .buttonArea {
    overflow: hidden;
    text-align: center;
    margin-top: 30px;

    .alignLeft {
      float: left;
    }

    .alignCenter {
      display: inline-block;
      vertical-align: top;
    }

    .alignRight {
      float: right;
    }

    .alignLeft,
    .alignCenter,
    .alignRight {

      button, a {
        float: left;
      }

      .boardBtn + .boardBtn {
        margin-left: 5px;
      }
    }

    .radioTab {
      margin-top: 2px;
    }
  }

  /* search area */
  .searchArea {
    display: flex;
    width: 320px;

    .searchTitle {
      display: block;
      height: 35px;
      line-height: 35px;
      margin-right: 16px;
      font-size: 23px;
      @include nsB;
    }

    .searchInput {
      flex: 1;

      input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 35px;
        padding: 0 10px;
        border: 0 none;
        border-bottom: 1px solid #fff;
        font-size: 18px;
        @include nsM;
        color: #fff;
        background-color: transparent;
        outline: none;
      }
    }

    .searchBtn {
      display: block;
      width: 32px;
      height: 35px;
      margin-left: 12px;
      @include imageUrlAdmin(icon/icon_search,png);
      background-position: right center;

      span {
        @include blind;
      }
    }
  }

  /* paging */
  .paddingList {
    overflow: hidden;

    li {
      float: left;

      & + li {
        margin-left: 13px;
      }

      &.prevBtn {

        a {
          line-height: 35px;
          padding-left: 20px;
          font-size: 23px;
          @include nsM;
          color: #fff;
          @include imageUrlAdmin(icon/icon_pagingLeft,png);
          background-position: left center;
        }
      }

      &.nextBtn {

        a {
          line-height: 35px;
          padding-right: 20px;
          font-size: 23px;
          @include nsM;
          color: #fff;
          @include imageUrlAdmin(icon/icon_pagingRight,png);
          background-position: right center;
        }
      }

      &.number {

        a {
          box-sizing: border-box;
          text-align: center;
          width: 35px;
          line-height: 33px;
          border: 1px solid #707070;
          font-size: 17px;
          @include gtB;
          color: #666;
        }

        &.on {

          a {
            border-color: $colorOrange;
            color: #fff;
          }

        }
      }

      a {
        display: block;
        height: 35px;
      }
    }
  }

  .pagingArea {
    position: relative;
    text-align: center;

    .alignCenter {
      display: inline-block;
      vertical-align: top;
    }

    .alignRight {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  /* table */
  .tableArea {
    margin-top: 30px;

    .tableTitle {
      overflow: hidden;
      padding-top: 40px;
      margin-bottom: 20px;
      border-top: 1px solid #D8D8D8;

      .alignLeft {
        float: left;

        .title {
          display: inline-block;
          vertical-align: top;
          line-height: 35px;
          margin-right: 12px;
          font-size: 24px;
          @include nsB;
        }

        .subText {
          display: inline-block;
          vertical-align: top;
          line-height: 26px;
          padding-top: 9px;
          font-size: 18px;
          @include nsM;
        }
      }
    }

    table {
      table-layout: fixed;
      width: 100%;
      border-top: 1px solid #D8D8D8;

      thead {

        tr {

          > * {
            vertical-align: middle;
            height: 64px;
            font-size: 18px;
            @include nsB;
            border-bottom: 1px solid #D8D8D8;
            background-color: $colorOrange;
          }
        }
      }

      tbody {

        tr {

          > * {
            text-align: center;
            vertical-align: middle;
            height: 50px;
            border-bottom: 1px solid #D8D8D8;
            font-size: 20px;
          }
        }
      }

      .tbAlignLeft {
        text-align: left;

        * {
          text-align: left;
        }
      }

      .tbAlignRight {
        text-align: right;

        * {
          text-align: right;
        }
      }

      .numberBox {
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        width: 54px;
        height: 34px;
        line-height: 32px;
        border: 1px solid #707070;
        font-size: 18px;
        @include gtB;
        background-color: #3E3E3E;
      }

      .tableDelBtn {
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        width: 66px;
        height: 34px;
        line-height: 32px;
        border: 1px solid #707070;
        font-size: 18px;
        @include gtB;
        color: #fff;
        background-color: #3E3E3E;
      }

      .textEllipsis {
        display: block;
        padding:0 5px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        color: #fff;
      }
    }
  }

  .tableArea02 {
    margin-top: 32px;

    & + .bannerTitle {
      border-top: 0 none;
    }

    table {
      width: 100%;
      table-layout: fixed;
      border-top: 1px solid #777;

      tbody {

        tr {

          > * {
            box-sizing: border-box;
            vertical-align: top;
            text-align: left;
            height: 82px;
            line-height: 53px;
            padding: 14px 18px;
            border-bottom: 1px solid #777;
            font-size: 18px;
            color: #B3B3B3;
          }

          th {
            @include nsM;
            color: #fff;
          }

          td {
            padding-left: 0;
          }
        }
      }
    }

    .anSelect + .fileSearch {
      margin-left: 13px;
    }
  }

  /* list hegiht 03 */
  .ListHeight03, .ListWidth02, .ListWidth03 {

    .contextArea {

      .title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 40px;
        height: 80px;
      }

      .anInputCheck {

        .text {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          height: 80px;
        }
      }
    }
  }

  /* list hegiht 03 */
  .ListHeight03 {
    padding-top: 44px;

    ul {

      &::after {
        content: "";
        display: block;
        clear: both;
      }

      li {
        float: left;
        width: 383px;

        &:nth-child(3n+2) {
          margin-left: 25px;
        }

        &:nth-child(3n+3) {
          margin-left: 26px;
        }

        .image {
          display: block;
          height: 518px;

          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }

        .contextArea {
          padding: 24px 0 28px;
        }
      }
    }
  }

  /* list width 02 */
  .ListWidth02 {
    padding-top: 96px;

    ul {

      &::after {
        content: "";
        display: block;
        clear: both;
      }

      li {
        float: left;
        width: 540px;

        &:nth-child(2n+2) {
          margin-left: 119px;
        }

        .image {
          display: block;
          height: 317px;

          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }

        .contextArea {
          padding: 29px 0 60px;

          .title {
            font-size: 28px;
            font-family: "NotoSansCJKkrMedium", sans-serif;
            color: #B3B3B3;
          }

          &.categoryType {
            padding-top: 12px;
          }
        }
      }
    }

    .iconInsta, .iconFace, .iconNaver, .iconPressRelease, .iconProgram {
      display: block;
      line-height: 32px;
      padding-left: 36px;
      margin: 0 0 15px -1px;
      font-size: 22px;
    }

    .iconInsta {
      @include imageUrlAdmin("icon/icon_instagram");
      background-position: left center;
    }

    .iconFace {
      @include imageUrlAdmin("icon/icon_facebook");
      background-position: left center;
    }

    .iconNaver {
      @include imageUrlAdmin("icon/icon_naver");
      background-position: left center;
    }

    .iconPressRelease, .iconProgram {
      @include imageUrlAdmin("icon/icon_an");
      background-position: left center;
    }
  }

  /* list width 03 */
  .ListWidth03 {
    padding-top: 40px;

    ul {

      &::after {
        content: "";
        display: block;
        clear: both;
      }

      li {
        float: left;
        width: 384px;
        margin-left: 23px;

        &:nth-child(3n+1) {
          margin-left: 0;
        }

        .image {
          display: block;
          height: 226px;

          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }

        .contextArea {
          padding: 18px 0 60px;

          .infoArea {
            overflow: hidden;

            .alignLeft {
              float: left;

              > * + * {
                margin-left: 12px;
              }
            }

            .alignRight {
              float: right;

              > * + * {
                margin-left: 12px;
              }
            }

            .name, .date, .time, .like {
              float: left;
              display: block;
              line-height: 24px;
            }

            .name {
              font-size: 18px;
              @include gtM;
              color: #fff;
            }

            .date {
              font-size: 18px;
              @include gtM;
              color: #B3B3B3;
            }

            .time {
              font-size: 18px;
              @include gtM;
              color: #B3B3B3;
            }

            .like {
              padding-right: 34px;
              font-size: 18px;
              letter-spacing: 0;
              @include gtM;
              color: #B3B3B3;
              @include imageUrlAdmin("icon/icon_like01");
              background-position: right 7px top 4px;
            }
          }

          .title {
            margin-top: 14px;
            font-size: 28px;
            font-family: "NotoSansCJKkrMedium", sans-serif;
            color: #B3B3B3;
          }

          .anInputCheck {
            margin-top: 14px;
          }
        }
      }
    }
  }
}
