@charset "UTF-8";

/* layout */
html, body {
  @include nsM;
  height: 100%;
  font-size: 20px;
  letter-spacing: -0.075em;
  color: #fff;
}

#wrap {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  @include contentMinWidth($webWidthNumber);
  min-height: 100%;
  background-color: #000;

  /* page top button */
  .pageTop {
    position: fixed;
    right: 98px;
    bottom: 98px;
    display: block;
    box-sizing: border-box;
    width: 85px;
    height: 85px;
    border: 1px solid #fff;
    background: #000;
    z-index: 20;

    span {
      display: block;
      text-align: center;
      height: 15px;
      line-height: 15px;
      padding-top: 30px;
      font-size: 14px;
      @include gtM;
      color: #fff;
      background: url("../images/web/icon/icon_pageTop.png") no-repeat center top;
    }
  }

  /* swiper image */
  .imgMobile {
    display: none;
  }

  /* header */
  #header {
    position: fixed;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    @include contentMinWidth($webWidthNumber);
    height: 130px;
    z-index: 10;

    &.scroll {
      background-color: rgba(0, 0, 0, 0.8);
    }

    &.scroll.gnbOpen {
      background-color: transparent;
    }

    .headerIn {
      position: relative;
      box-sizing: border-box;
      @include contentWidth($webWidthNumber);
      height: 100%;
      margin: 0 auto;

      .pageBack {
        display: none;
      }

      .logoText {
        display: inline-block;
        vertical-align: top;
        padding-top: 43px;

        a {
          display: block;
          line-height: 44px;
          font-size: 30px;
          @include nsB;
          color: #fff;
        }
      }

      .gnb {

        .gnbOpenBtn {
          display: none;

          span {
            @include blind;
          }
        }

        .gnbCloseBtn {
          position: absolute;
          right: 0;
          top: 51px;
          display: none;
          width: 35px;
          height: 35px;
          background: url("../images/web/icon/icon_gnbClose.png") no-repeat center;
          z-index: 12;

          span {
            @include blind;
          }
        }

        nav {
          overflow: hidden;
          position: absolute;
          right: 0;
          top: 51px;

          .gnbItem {
            float: left;

            & + .gnbItem {
              margin-left: 45px;
            }

            a, button {
              display: block;
              height: 35px;
              line-height: 35px;
              font-size: 24px;
              @include nsB;
              color: #fff;
            }

            &.category {

              > button {
                padding-left: 35px;
                background: url("../images/web/icon/icon_category.png") no-repeat left center;
              }

              .gnbItemSub {
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                display: none;
                background-color: rgba(0, 0, 0, 0.8);
                z-index: 11;

                .gnbItemSubIn {
                  overflow: hidden;
                  width: 1200px;
                  padding: 44px 0 70px;
                  margin: 0 auto;

                  .gnbItemTitle {
                    line-height: 35px;
                    margin-bottom: 58px;
                    font-size: 24px;
                    @include nsB;
                  }

                  .gnbItemSubBox {
                    float: left;

                    & + .gnbItemSubBox {
                      margin-left: 150px;
                    }

                    li {

                      & + li {
                        margin-top: 13px;
                      }

                      a {
                        display: inline-block;
                        vertical-align: top;
                        line-height: 35px;
                        font-size: 24px;
                        @include nsB;

                        &.live {
                          position: relative;

                          &::after {
                            content: "";
                            position: absolute;
                            right: -18px;
                            top: -5px;
                            display: block;
                            width: 14px;
                            height: 14px;
                            border-radius: 7px;
                            background-color: $colorOrange;
                          }
                        }

                        &.peoplepartyHomepage {
                          @include colorOrange;
                        }
                      }
                    }
                  }
                }
              }
            }

            &.login {
              position: relative;
              margin-left: 57px;

              &::after {
                content: "";
                position: absolute;
                left: -27px;
                top: 50%;
                display: block;
                width: 1px;
                height: 18px;
                margin-top: -9px;
                background-color: #fff;
              }

              > button {
                width: 35px;
                background: url("../images/web/icon/icon_login.png") no-repeat center;

                &.on {
                  background-image: url("../images/web/icon/icon_login_on.png");
                }

                span {
                  @include blind;
                }
              }

              .gnbItemSub {
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                display: none;
                background-color: rgba(0, 0, 0, 0.8);
                z-index: 11;

                .gnbItemSubIn {
                  overflow: hidden;
                  width: 1200px;
                  padding: 44px 0 60px;
                  margin: 0 auto;

                  .gnbItemTitle {
                    line-height: 35px;
                    margin-bottom: 58px;
                    font-size: 24px;
                    @include nsB;
                  }

                  .gnbItemSns {
                    overflow: hidden;
                    margin-top: 62px;

                    a {
                      float: left;
                      display: block;
                      width: 62px;
                      height: 62px;

                      + a {
                        margin-left: 23px;
                      }

                      &.kakao {
                        background: url("../images/web/sns/sns_kakao.png") no-repeat;
                        background-size: 100% 100%;
                      }

                      &.naver {
                        background: url("../images/web/sns/sns_naver.png") no-repeat;
                        background-size: 100% 100%;
                      }

                      &.google {
                        background: url("../images/web/sns/sns_google.png") no-repeat;
                        background-size: 100% 100%;
                      }

                      &.facebook {
                        background: url("../images/web/sns/sns_facebook.png") no-repeat;
                        background-size: 100% 100%;
                      }

                      &.twitch {
                        background: url("../images/web/sns/sns_twitch.png") no-repeat;
                        background-size: 100% 100%;
                      }

                      span {
                        @include blind;
                      }
                    }
                  }

                  .gnbItemContext {
                    line-height: 20px;
                    margin-top: 39px;
                    font-size: 15px;
                  }
                }
              }
            }

            &.search {
              margin-left: 20px;

              > button  {
                width: 35px;
                background: url("../images/web/icon/icon_search.png") no-repeat center;

                span {
                  @include blind;
                }
              }

              .gnbItemSub {
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                display: none;
                height: 570px;
                background-color: rgba(0, 0, 0, 0.8);
                z-index: 11;

                .gnbItemSubIn {
                  overflow: hidden;
                  width: 1200px;
                  padding-top: 120px;
                  margin: 0 auto;

                  .searchTitleArea {
                    display: none;
                  }

                  .searchInputArea {
                    margin-bottom: 54px;

                    .searchText {
                      display: inline-block;
                      vertical-align: top;
                      line-height: 54px;
                      margin-right: 20px;
                      font-size: 31px;
                      @include nsB;
                    }

                    .searchInput {
                      overflow: hidden;
                      display: inline-block;
                      vertical-align: top;

                      input {
                        float: left;
                        box-sizing: border-box;
                        width: 338px;
                        height: 54px;
                        padding: 0;
                        border: 0 none;
                        border-bottom: 3px solid #fff;
                        outline: none;
                        font-size: 30px;
                        @include nsM;
                        color: #fff;
                        background-color: transparent;
                      }

                      button {
                        float: left;
                        width: 54px;
                        height: 54px;
                        margin-left: 5px;
                        background: url("../images/web/icon/icon_gnbSearch.png") no-repeat center;

                        span {
                          @include blind;
                        }
                      }
                    }

                  }

                  .swiperDataArea {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    padding: 0 40px;

                    .swiper {
                      position: static;
                      width: 1022px;
                      height: 257px;
                      margin: 0;

                      .swiper-wrapper {

                        .swiper-slide {

                          a {
                            display: block;
                            width: 100%;
                            height: 100%;

                            img {
                              display: block;
                              width: 100%;
                              height: 100%;
                            }
                          }
                        }
                      }

                      .swiper-button-prev, .swiper-button-next {
                        width: 20px;
                        height: 40px;

                        &::after {
                          display: none;
                        }

                      }

                      .swiper-button-prev {
                        background: url("../images/web/icon/icon_gnbSearchArrowLeft.png") no-repeat left center;
                      }

                      .swiper-button-next {
                        background: url("../images/web/icon/icon_gnbSearchArrowRight.png") no-repeat right center;
                      }
                    }
                  }

                  .searchNodataArea {
                    line-height: 45px;
                    margin-top: -14px;
                    font-size: 31px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* container */
  #container {
    padding-bottom: 190px;

    .topVisual {

      .topVisualSwiper {
        height: 600px;

        .swiper {
          height: 100%;

          .imgWeb, .imgMobile {
            height: 100%;
          }
        }
      }
    }

    .content {
      @include contentWidth($webWidthNumber);
      margin: 0 auto;
    }
  }

  /* footer */
  #footer {
    margin-top: auto;

    .footerIn {
      box-sizing: border-box;
      height: 286px;
      padding-left: 136px;

      .homepageLink {
        padding-top: 65px;

        a {
          display: inline-block;
          vertical-align: top;
          line-height: 34px;
          font-size: 24px;
          color: #DE5A27;
        }
      }

      .tel {
        margin-top: 9px;

        a {
          display: inline-block;
          vertical-align: top;
          line-height: 52px;
          @include gtM;
          font-size: 48px;
          color: #fff;
        }
      }

      .copyright {
        line-height: 27px;
        margin-top: 9px;
        font-size: 19px;
        color: #fff;
      }
    }
  }
}

/* color */
.colorOrange {
  @include colorOrange;
}
.colorRed {
  @include colorRed;
}

/* media queries */
@media (max-width: #{780px}) {
  #wrap {
    @include contentMinWidth($mobileWidthNumber);

    /* page top button */
    .pageTop {
      right: 24px;
      bottom: 24px;
      width: 41px;
      height: 41px;
      border-color: #666;
      background: #666;

      span {
        height: 9px;
        line-height: 9px;
        padding-top: 13px;
        font-size: 8px;
        background: url("../images/mobile/icon/icon_pageTop.png") no-repeat center top;
        background-size: 21px 10px;
      }
    }

    /* swiper image */
    .imgWeb {
      display: none;
    }

    .imgMobile {
      display: block;
    }

    /* header */
    #header {
      @include contentMinWidth($mobileWidthNumber);
      height: 50px;

      .headerIn {
        @include contentWidth($mobileWidthNumber);

        .pageBack {
          position: absolute;
          left: 0;
          top: 0;
          display: block;
          width: 50px;
          height: 50px;
          background: url("../images/mobile/icon/icon_pageBack.png") no-repeat center;
          background-size: 12px 21px;

          span {
            @include blind;
          }
        }

        .logoText {
          display: block;
          text-align: center;
          padding: 0;

          a {
            display: inline-block;
            vertical-align: top;
            line-height: 50px;
            font-size: 18px;
            @include nsB;
          }
        }

        .gnb {

          .gnbOpenBtn {
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            width: 60px;
            height: 50px;
            background: url("../images/mobile/icon/icon_gnbOpen.png") no-repeat center;
            background-size: 27px 20px;
          }

          .gnbCloseBtn {
            position: fixed;
            right: 35px;
            top: 23px;
            display: block;
            width: 35px;
            height: 32px;
            background: url("../images/mobile/icon/icon_gnbClose.png") no-repeat center;
            background-size: 35px 32px;
          }

          nav {
            overflow: auto;
            position: fixed;
            left: 100%;
            right: auto;
            top: 0;
            bottom: 0;
            width: 100%;
            background-color: #000;

            display: block;

            &::after {
              content: "";
              position: absolute;
              left: 0;
              right: 0;
              top: 0;
              display: block;
              height: 78px;
              background: #000;
            }

            .gnbItem {
              float: left;

              display: none;

              & + .gnbItem {
                margin-left: 45px;
              }

              a, button {
                display: block;
                height: 35px;
                line-height: 35px;
                font-size: 24px;
                @include nsB;
                color: #fff;
              }

              &.category {

                > button {
                  padding-left: 35px;
                  background: url("../images/web/icon/icon_category.png") no-repeat left center;
                }

                .gnbItemSub {
                  position: fixed;
                  left: 0;
                  right: 0;
                  top: 0;
                  display: none;
                  background-color: rgba(0, 0, 0, 0.8);
                  z-index: 11;

                  .gnbItemSubIn {
                    overflow: hidden;
                    width: 1200px;
                    padding: 44px 0 70px;
                    margin: 0 auto;

                    .gnbItemTitle {
                      line-height: 35px;
                      margin-bottom: 58px;
                      font-size: 24px;
                      @include nsB;
                    }

                    .gnbItemSubBox {
                      float: left;

                      & + .gnbItemSubBox {
                        margin-left: 150px;
                      }

                      li {

                        & + li {
                          margin-top: 13px;
                        }

                        a {
                          display: inline-block;
                          vertical-align: top;
                          line-height: 35px;
                          font-size: 24px;
                          @include nsB;

                          &.live {
                            position: relative;

                            &::after {
                              content: "";
                              position: absolute;
                              right: -18px;
                              top: -5px;
                              display: block;
                              width: 14px;
                              height: 14px;
                              border-radius: 7px;
                              background-color: $colorOrange;
                            }
                          }

                          &.peoplepartyHomepage {
                            @include colorOrange;
                          }
                        }
                      }
                    }
                  }
                }
              }

              &.login {
                position: relative;
                margin-left: 57px;

                &::after {
                  content: "";
                  position: absolute;
                  left: -27px;
                  top: 50%;
                  display: block;
                  width: 1px;
                  height: 18px;
                  margin-top: -9px;
                  background-color: #fff;
                }

                > button {
                  width: 35px;
                  background: url("../images/web/icon/icon_login.png") no-repeat center;

                  &.on {
                    background-image: url("../images/web/icon/icon_login_on.png");
                  }

                  span {
                    @include blind;
                  }
                }

                .gnbItemSub {
                  position: fixed;
                  left: 0;
                  right: 0;
                  top: 0;
                  display: none;
                  background-color: rgba(0, 0, 0, 0.8);
                  z-index: 11;

                  .gnbItemSubIn {
                    overflow: hidden;
                    width: 1200px;
                    padding: 44px 0 60px;
                    margin: 0 auto;

                    .gnbItemTitle {
                      line-height: 35px;
                      margin-bottom: 58px;
                      font-size: 24px;
                      @include nsB;
                    }

                    .gnbItemSns {
                      overflow: hidden;
                      margin-top: 62px;

                      a {
                        float: left;
                        display: block;
                        width: 62px;
                        height: 62px;

                        + a {
                          margin-left: 23px;
                        }

                        &.kakao {
                          background: url("../images/web/sns/sns_kakao.png") no-repeat;
                          background-size: 100% 100%;
                        }

                        &.naver {
                          background: url("../images/web/sns/sns_naver.png") no-repeat;
                          background-size: 100% 100%;
                        }

                        &.google {
                          background: url("../images/web/sns/sns_google.png") no-repeat;
                          background-size: 100% 100%;
                        }

                        &.facebook {
                          background: url("../images/web/sns/sns_facebook.png") no-repeat;
                          background-size: 100% 100%;
                        }

                        &.twitch {
                          background: url("../images/web/sns/sns_twitch.png") no-repeat;
                          background-size: 100% 100%;
                        }

                        span {
                          @include blind;
                        }
                      }
                    }

                    .gnbItemContext {
                      line-height: 20px;
                      margin-top: 39px;
                      font-size: 15px;
                    }
                  }
                }
              }

              &.search {
                margin-left: 20px;

                > button  {
                  width: 35px;
                  background: url("../images/web/icon/icon_search.png") no-repeat center;

                  span {
                    @include blind;
                  }
                }

                .gnbItemSub {
                  position: fixed;
                  left: 0;
                  right: 0;
                  top: 0;
                  display: none;
                  height: 570px;
                  background-color: rgba(0, 0, 0, 0.8);
                  z-index: 11;

                  .gnbItemSubIn {
                    overflow: hidden;
                    width: 1200px;
                    padding-top: 120px;
                    margin: 0 auto;

                    .searchTitleArea {
                      display: none;
                    }

                    .searchInputArea {
                      margin-bottom: 54px;

                      .searchText {
                        display: inline-block;
                        vertical-align: top;
                        line-height: 54px;
                        margin-right: 20px;
                        font-size: 31px;
                        @include nsB;
                      }

                      .searchInput {
                        overflow: hidden;
                        display: inline-block;
                        vertical-align: top;

                        input {
                          float: left;
                          box-sizing: border-box;
                          width: 338px;
                          height: 54px;
                          padding: 0;
                          border: 0 none;
                          border-bottom: 3px solid #fff;
                          outline: none;
                          font-size: 30px;
                          @include nsM;
                          color: #fff;
                          background-color: transparent;
                        }

                        button {
                          float: left;
                          width: 54px;
                          height: 54px;
                          margin-left: 5px;
                          background: url("../images/web/icon/icon_gnbSearch.png") no-repeat center;

                          span {
                            @include blind;
                          }
                        }
                      }

                    }

                    .swiperDataArea {
                      position: relative;
                      display: inline-block;
                      vertical-align: top;
                      padding: 0 40px;

                      .swiper {
                        position: static;
                        width: 1022px;
                        height: 257px;
                        margin: 0;

                        .swiper-wrapper {

                          .swiper-slide {

                            a {
                              display: block;
                              width: 100%;
                              height: 100%;

                              img {
                                display: block;
                                width: 100%;
                                height: 100%;
                              }
                            }
                          }
                        }

                        .swiper-button-prev, .swiper-button-next {
                          width: 20px;
                          height: 40px;

                          &::after {
                            display: none;
                          }

                        }

                        .swiper-button-prev {
                          background: url("../images/web/icon/icon_gnbSearchArrowLeft.png") no-repeat left center;
                        }

                        .swiper-button-next {
                          background: url("../images/web/icon/icon_gnbSearchArrowRight.png") no-repeat right center;
                        }
                      }
                    }

                    .searchNodataArea {
                      line-height: 45px;
                      margin-top: -14px;
                      font-size: 31px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    /* container */
    #container {
      padding-bottom: 40px;

      .topVisual {

        .topVisualSwiper {
          height: 95.5128vw;

          .swiper {

            .imgWeb, .imgMobile {
              background-size: 100% 100% !important;
            }
          }
        }
      }

      .content {
        @include contentWidth($mobileWidthNumber);
      }
    }

    /* footer */
    #footer {

      .footerIn {
        height: 143px;
        padding-left: 36px;

        .homepageLink {
          padding-top: 33px;

          a {
            line-height: 17px;
            font-size: 12px;
          }
        }

        .tel {
          margin-top: 5px;

          a {
            line-height: 26px;
            font-size: 24px;
          }
        }

        .copyright {
          line-height: 14px;
          margin-top: 5px;
          font-size: 10px;
        }
      }
    }
  }
}