@charset "UTF-8";

/* layout */
#wrap.mainLayout {

  /* header */
  #header {

  }

  /* container */
  #container {

    .topVisual {

      .topVisualSwiper {
        height: 800px;
      }

      .topVisualVideo {
        text-align: center;
        box-sizing: border-box;
        height: 800px;
        padding-top: 192px;
        @include imageUrl(web/bg/bg_topVisualVideo,png);
        background-position: center top;

        .title {
          display: none;
        }

        .video {
          display: inline-block;
          vertical-align: top;
          border: 10px solid #3B3A3A;

          .videoHeightAuto {

            iframe {
              vertical-align: top;
              width: 1005px;
              height: 556px;
            }
          }
        }

        .context {
          display: none;
        }

      }

      .topVisualVideoBg {
        position: relative;

        .video {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: block;
          }

          video {
            vertical-align: top;
            width: 100%;
            height: auto;
          }
        }

        .context {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          margin-top: 65px;

          > * + * {
            margin-top: 25px;
          }

          .textLarge {
            display: block;
            text-align: center;
            line-height: 88px;
            font-size: 80px;
          }

          .textSamll {
            display: block;
            text-align: center;
            line-height: 34px;
            font-size: 30px;
          }
        }
      }
    }

    .content {
      @include contentWidth($mobileWidthNumber);
      margin: 0;

      .mainTitleArea {
        overflow: hidden;
        padding: 0 100px 17px 100px;

        .title {
          float: left;
          display: block;
          line-height: 58px;
          font-size: 40px;
          @include nsB;
        }

        .moreLink {
          float: right;
          display: block;
          line-height: 44px;
          margin-top: 14px;
          padding-right: 24px;
          font-size: 30px;
          color: #fff;
          @include nsM;
          @include imageUrl(web/icon/icon_moreLink,png);
          background-position: right center;
        }
      }

      .photoNumberArea, .photoWidthArea, .photoHeightArea {

        .swiper-button-prev, .swiper-button-next {
          width: 100px;
          height: 100px;

          &::after {
            display: none;
          }
        }

        .swiper-button-prev {
          left: 0;
          margin-top: -50px;
          @include imageUrl(web/icon/icon_mainSwiperArrowLeft,png);
          background-position: 20px center;
        }

        .swiper-button-next {
          right: 0;
          margin-top: -50px;
          @include imageUrl(web/icon/icon_mainSwiperArrowRight,png);
          background-position: right 20px center;
        }
      }

      .photoNumberArea {
        margin-top: 37px;

        .mainTitleArea {
          padding-bottom: 70px;
        }

        .swiperArea {
          overflow: hidden;
          position: relative;
          padding: 0 100px;

          .swiper {
            overflow: visible;
            position: static;

            .swiper-wrapper {

              .swiper-slide {

                a {
                  overflow: hidden;
                  position: relative;
                  display: block;

                  .numberWeb {
                    position: relative;
                    display: block;
                    width: 100%;
                  }

                  .numberMobile {
                    position: relative;
                    display: none;
                    width: 100%;
                  }

                  .topImage {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    display: block;
                    height: 100%;
                  }
                }
              }
            }
          }
        }
      }

      .photoWidthArea {
        margin-top: 57px;

        .mainTitleArea {
          padding-top: 42px;
        }

        .swiperArea {
          overflow: hidden;
          position: relative;
          padding: 0 100px;

          .swiper {
            overflow: visible;
            position: static;

            .swiper-wrapper {

              .swiper-slide {

                a {
                  display: block;

                  img {
                    display: block;
                    width: 100%;
                  }
                }
              }
            }
          }

          &.communitySwiper {

            .swiper-slide {

              a {
                position: relative;

                .text {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 3;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                  width: 15vw;
                  max-height: 6.9vw;
                  line-height: 2.3vw;
                  font-size: 2vw;
                  color: #fff;
                  @include nsM;
                }
              }
            }
          }
        }
      }

      .photoHeightArea {
        margin-top: 60px;

        .mainTitleArea {
          padding-top: 76px;
        }

        .swiperArea {
          overflow: hidden;
          position: relative;
          padding: 0 100px;

          .swiper {
            overflow: visible;
            position: static;

            .swiper-wrapper {

              .swiper-slide {

                a {
                  display: block;

                  img {
                    display: block;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* footer */
  #footer {

  }
}

/* media queries */
@media (min-width: 781px) and (max-width: 1199px) {
  /* wrap */
  #wrap.mainLayout {

    /* container */
    #container {

      .content {

        .photoWidthArea {

          .swiperArea {

            &.communitySwiper {

              .swiper-slide {

                a {

                  .text {
                    width: 180px;
                    max-height: 84px;
                    line-height: 28px;
                    font-size: 24px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 780px) {
  /* wrap */
  #wrap.mainLayout {

    /* header */
    #header {

      .headerIn {

        .pageBack {
          display: none;
        }

        .logoText {
          text-align: left;
          padding-left: 24px;
        }
      }
    }

    /* container */
    #container {

      .topVisual {

        .topVisualSwiper {
          height: 108.9743vw;
        }

        .topVisualVideo {
          box-sizing: border-box;
          height: 108.9743vw;
          padding: 50px 6.1538vw 0;
          background: #000;

          .title {
            display: block;
            text-align: center;
            margin-top: 5.1282vw;

            span {
              position: relative;
              display: inline-block;
              vertical-align: top;
              line-height: 10.2564vw;
              padding-top: 1.0256vw;
              font-size: 7.1794vw;
              @include nsB;

              &.live {
                padding-right: 11.2820vw;

                &::after {
                  content: "LIVE";
                  position: absolute;
                  right: 0;
                  top: 0;
                  display: block;
                  text-align: center;
                  width: 12.3076vw;
                  height: 4.6153vw;
                  line-height: 4.6153vw;
                  border-radius: 2.3076vw;
                  font-size: 3.5897vw;
                  @include gtB;
                  background-color: $colorRed;

                }
              }
            }
          }

          .video {
            display: block;
            margin-top: 5.3846vw;
            border: 5px solid #3B3A3A;

            .videoHeightAuto {
              overflow: hidden;
              position: relative;
              height: 0;
              padding-bottom: 56.25%;

              iframe {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
              }
            }
          }

          .context {
            display: block;
            margin-top: 4.3589vw;

            .textLarge {
              text-align: center;
              line-height: 12vw;
              font-size: 7.3vw;
              @include nsBk;
            }

            .textSamll {
              text-align: center;
              line-height: 4.3589vw;
              margin-top: 0.5128vw;
              font-size: 2.9487vw;
              @include nsBk;
            }
          }

        }

        .topVisualVideoBg {
          padding-top: 50px;

          .context {
            margin-top: 25px;

            > * + * {
              margin-top: 2.2435vw;
            }

            .textLarge {
               line-height: 7.8973vw;
               font-size: 7.1794vw;
             }

            .textSamll {
              line-height: 3.0512vw;
              font-size: 2.6922vw;
            }
          }
        }
      }

      .content {

        .mainTitleArea {
          overflow: hidden;
          padding: 0 3.2051vw 5px 3.2051vw;

          .title {
            line-height: 22px;
            font-size: 15px;
          }

          .moreLink {
            line-height: 14px;
            margin-top: 4px;
            padding-right: 8px;
            font-size: 5px;
            @include imageUrl(mobile/icon/icon_moreLink,png);
            background-position: right center;
            background-size: 4px 6px;
          }
        }

        .photoNumberArea, .photoWidthArea, .photoHeightArea {

          .swiper-button-prev, .swiper-button-next {
            display: none;
          }
        }

        .photoNumberArea {
          margin-top: 15px;

          .mainTitleArea {
            padding-bottom: 15px;
          }

          .swiperArea {
            padding: 0 3.2051vw;

            .swiper {

              .swiper-wrapper {

                .swiper-slide {

                  a {

                    .numberWeb {
                      display: none;
                    }

                    .numberMobile {
                      display: block;
                      z-index: 1;
                    }

                    .topImage {
                    }
                  }

                  &:first-child {

                    a {

                      .number {
                        left: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .photoWidthArea {
          margin-top: 18px;

          .mainTitleArea {
            padding-top: 18px;
          }

          .swiperArea {
            padding: 0 3.2051vw;

            &.communitySwiper {

              .swiper-slide {

                a {

                  .text {
                    width: 25vw;
                    max-height: 12.9vw;
                    line-height: 4.3vw;
                    font-size: 3.6vw;
                  }
                }
              }
            }
          }
        }

        .photoHeightArea {
          margin-top: 15px;

          .mainTitleArea {
            padding-top: 15px;
          }

          .swiperArea {
            padding: 0 3.2051vw;
          }
        }
      }
    }

    /* footer */
    #footer {

    }
  }
}
