@charset "UTF-8";

/* layout */
#wrap.mainLayout {

  /* header */
  #header {

  }

  /* container */
  #container {

    /* youtube height auto */
    .videoHeightAuto {
      width: auto;

      .videoContent {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    /* 공통 top visual 영역 */
    .topVisual {

      .topVisualSwiper {
        height: 800px;

        .imgLink {
          display: block;
          height: 100%;
        }
      }

      .topVisualVideo {
        text-align: center;
        box-sizing: border-box;
        padding: 190px 0 100px;
        @include imageUrl('web/bg/bg_topVisualVideo');
        background-position: center center;
        background-size: auto 100%;

        .title {
          display: none;
        }

        .videoHeightAuto {
          width: 1025px;
          display: inline-block;
          vertical-align: top;
        }
      }

      .topVisualVideoBg {
        position: relative;

        .video {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: block;
          }

          video {
            vertical-align: top;
            width: 100%;
            height: auto;
          }
        }

        .context {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          margin-top: 65px;

          > * + * {
            margin-top: 25px;
          }

          .textLarge {
            display: block;
            text-align: center;
            line-height: 88px;
            font-size: 80px;
          }

          .textSamll {
            display: block;
            text-align: center;
            line-height: 34px;
            font-size: 30px;
          }
        }
      }
    }

    .content {
      overflow: hidden;
      @include contentWidth($mobileWidthNumber);
      margin: 0;

      .mainTitleArea {
        overflow: hidden;
        padding: 45px 100px 20px 100px;

        .title {
          float: left;
          display: block;
          line-height: 58px;
          font-size: 40px;
          @include nsB;
          letter-spacing: normal;
        }

        .moreLink {
          float: right;
          display: block;
          line-height: 44px;
          margin-top: 14px;
          padding-right: 24px;
          font-size: 30px;
          color: #BCBCBC;
          @include nsM;
          @include imageUrl('web/icon/icon_moreLink');
          background-position: right center;

          &:hover {
            color: #fff;
            @include imageUrl('web/icon/icon_moreLink_on');
            background-position: right center;
          }
        }
      }

      .photoNumberArea {

        .swiperArea {
          position: relative;
          padding: 0 100px;

          .swiper {
            overflow: visible;
            position: static;

            .swiper-wrapper {

              .swiper-slide {

                a {
                  overflow: visible;
                  position: relative;
                  display: block;
                  transition: all .4s;

                  .numberWeb {
                    position: relative;
                    display: block;
                    width: 100%;
                    z-index: 1;
                    transition: all .4s;
                  }

                  .numberMobile {
                    position: relative;
                    display: none;
                    width: 100%;
                  }

                  .topImage {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    display: block;
                    height: 100%;
                    transition: all .4s;
                  }

                  .textBox {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    box-sizing: border-box;
                    width: 61%;
                    padding: 7%;
                    background: #1c1c1c;
                    opacity: 0;
                    transition: all .4s;
                    z-index: 1;

                    .title, .context {
                      overflow: hidden;
                      text-overflow: ellipsis;
                      display: -webkit-box;
                      -webkit-box-orient: vertical;
                      word-wrap:break-word;
                      color: #fff;
                    }

                    .title {
                      -webkit-line-clamp: 2;
                      line-height: 1.6vw;
                      max-height: 4.8vw;
                      font-size: 1.3vw;
                      @include nsB;
                    }

                    .context {
                      margin-top: 0.7vw;
                      -webkit-line-clamp: 5;
                      line-height: 1.4vw;
                      max-height: 7vw;
                      font-size: 1.1vw;
                      @include nsM;
                    }
                  }

                  &.swiperOn01 {
                    position: relative;
                    z-index: 10;
                    transform: scale(1.4);

                    .numberWeb {
                      opacity: 0;
                    }

                    .topImage {
                      right : 50%;
                    }

                    .textBox {
                      right : -11%;
                      opacity: 1;
                    }
                  }
                }

                &.swiper-slide-active {

                  a {

                    &.swiperOn01 {
                      transform-origin: -38% center;
                    }
                  }

                  & + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide {

                    a {

                      &.swiperOn01 {
                        transform-origin: 138% center;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .photoWidthArea {

        .swiperArea {
          position: relative;
          padding: 0 100px;

          .swiper {
            overflow: visible;
            position: static;

            .swiper-wrapper {

              .swiper-slide {

                a {
                  display: block;

                  img {
                    display: block;
                    width: 100%;
                  }
                }
              }
            }
          }

          &.communitySwiper {

            .swiper-slide {

              a {
                position: relative;

                .text {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 3;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                  width: 15vw;
                  max-height: 6.9vw;
                  line-height: 2.3vw;
                  font-size: 2vw;
                  color: #fff;
                  @include nsM;
                }
              }
            }
          }
        }
      }

      .photoHeightArea {

        .swiperArea {
          position: relative;
          padding: 0 100px;

          .swiper {
            overflow: visible;
            position: static;

            .swiper-wrapper {

              .swiper-slide {

                a {
                  display: block;

                  img {
                    display: block;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }

      .photoNumberArea, .photoWidthArea, .photoHeightArea {

        .swiperArea {

          .swiper {

            .swiper-button-prev, .swiper-button-next {
              top: 0;
              bottom: 0;
              width: 100px;
              height: 100%;
              margin: 0;

              &::after {
                display: none;
              }
            }

            .swiper-button-prev {
              left: 0;
              @include imageUrl('web/icon/icon_mainSwiperArrowLeft');
              background-position: 20px center;
              background-size: 40px 70px;
            }

            .swiper-button-next {
              right: 0;
              @include imageUrl('web/icon/icon_mainSwiperArrowRight');
              background-position: right 20px center;
              background-size: 40px 70px;
            }
          }
        }
      }
    }
  }

  /* footer */
  #footer {

  }
}

/* media queries */
@media (min-width: 781px) and (max-width: 1199px) {
  /* wrap */
  #wrap.mainLayout {

    /* container */
    #container {

      .content {

        .photoWidthArea {

          .swiperArea {

            &.communitySwiper {

              .swiper-slide {

                a {

                  .text {
                    width: 180px;
                    max-height: 84px;
                    line-height: 28px;
                    font-size: 24px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 780px) {
  /* wrap */
  #wrap.mainLayout {

    /* header */
    #header {

      .headerIn {

        .pageBack {
          display: none;
        }

        .logoText {
          text-align: left;
          padding-left: 24px;
        }
      }
    }

    /* container */
    #container {

      .topVisual {

        .topVisualSwiper {
          height: 108.9743vw;
        }

        .topVisualVideo {
          box-sizing: border-box;
          height: auto;
          padding: 50px 0 0;
          background: #000;

          .title {
            display: block;
            text-align: center;
            margin: 5.1282vw 0 3.4615vw;

            span {
              position: relative;
              display: inline-block;
              vertical-align: top;
              line-height: 10.2564vw;
              padding-top: 1.0256vw;
              font-size: 7.1794vw;
              @include nsB;

              &.live {
                padding-right: 11.2820vw;

                &::after {
                  content: "LIVE";
                  position: absolute;
                  right: 0;
                  top: 0;
                  display: block;
                  text-align: center;
                  width: 12.3076vw;
                  height: 4.6153vw;
                  line-height: 4.6153vw;
                  border-radius: 2.3076vw;
                  font-size: 3.5897vw;
                  @include gtB;
                  background-color: $colorRed;

                }
              }
            }
          }

          .videoHeightAuto {
            width: auto;
            display: block;
            vertical-align: baseline;

            .videoContent {
              position: static;
              padding-bottom: 0;
              padding-top: 0;
              height: auto;
              overflow: visible;

              iframe {
                position: static;
                top: auto;
                left: auto;
                width: 100%;
                height: 56.2vw;
                display: block;
                vertical-align: top;
              }
            }
          }
        }

        .topVisualVideoBg {
          padding-top: 50px;

          .context {
            margin-top: 25px;

            > * + * {
              margin-top: 2.2435vw;
            }

            .textLarge {
               line-height: 7.8973vw;
               font-size: 7.1794vw;
             }

            .textSamll {
              line-height: 3.0512vw;
              font-size: 2.6922vw;
            }
          }
        }
      }

      .content {

        .mainTitleArea {
          overflow: hidden;
          padding: 5vw 3.2051vw 1.6666vw 3.2051vw;

          .title {
            line-height: 22px;
            font-size: 15px;
          }

          .moreLink {
            line-height: 14px;
            margin-top: 4px;
            padding-right: 8px;
            font-size: 5px;
            @include imageUrl('mobile/icon/icon_moreLink');
            background-position: right center;
            background-size: 4px 6px;

            &:hover {
              @include imageUrl('mobile/icon/icon_moreLink');
              background-position: right center;
              background-size: 4px 6px;
            }
          }
        }

        .photoNumberArea, .photoWidthArea, .photoHeightArea {

          .swiper-button-prev, .swiper-button-next {
            display: none;
          }
        }

        .photoNumberArea {
          padding-top: 5.3846vw;

          .swiperArea {
            padding: 0 3.2051vw;

            .swiper {

              .swiper-wrapper {

                .swiper-slide {

                  a {

                    .numberWeb {
                      display: none;
                    }

                    .numberMobile {
                      display: block;
                      z-index: 1;
                    }

                    .topImage {
                    }
                  }

                  &:first-child {

                    a {

                      .number {
                        left: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .photoWidthArea {

          .swiperArea {
            padding: 0 3.2051vw;

            &.communitySwiper {

              .swiper-slide {

                a {

                  .text {
                    width: 25vw;
                    max-height: 12.9vw;
                    line-height: 4.3vw;
                    font-size: 3.6vw;
                  }
                }
              }
            }
          }
        }

        .photoHeightArea {

          .swiperArea {
            padding: 0 3.2051vw;
          }
        }
      }
    }

    /* footer */
    #footer {

    }
  }
}
