@charset "UTF-8";

/* font-family */
@mixin nsR {
  font-family: "NotoSansCJKkrRegular", sans-serif;
}

@mixin nsM {
  font-family: "NotoSansCJKkrMedium", sans-serif;
}

@mixin nsB {
  font-family: "NotoSansCJKkrBold", sans-serif;
}

@mixin nsBk {
  font-family: "NotoSansCJKkrBlack", sans-serif;
}

@mixin gtM {
  font-family: "GothamMedium", sans-serif;
}

@mixin gtB {
  font-family: "GothamBold", sans-serif;
}

@mixin gtBk {
  font-family: "GothamBlack", sans-serif;
}

/* blind */
@mixin blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* content width, min-width */
$webWidthNumber: 1200px;
$mobileWidthNumber: auto;

@mixin contentWidth($number) {
  width: $number;
}

@mixin contentMinWidth($number) {
  min-width: $number;
}

/* color */
$colorOrange: #E76B1A;
$colorRed: #E62214;

@mixin colorOrange {
  color: $colorOrange;
}
@mixin colorRed {
  color: $colorRed;
}

@mixin imageUrl($imgUrl, $type: png) {
  background: url("../images/" + $imgUrl +"." + $type) no-repeat;
}
//@include imageUrl(common/logo_scroll,png) 사용법;